<div class="m-2">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <app-pnl></app-pnl>
      </div>
      <div class="col-2">
        <app-weekly-pnl></app-weekly-pnl>
      </div>
      <div class="col-2">
        <app-today-pnl></app-today-pnl>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4">
        <app-portfolio></app-portfolio>
      </div>
      <div class="col-xl-8">
        <app-code-pnl></app-code-pnl>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-8">
        <app-week-pnl-detail></app-week-pnl-detail>
      </div>
    </div>
  </div>
</div>
