<div class="card m-1">
  <div class="card-body">
    <table>
      <thead>
        <tr>
          <th>Code</th>
          <th>Quantity</th>
          <th>Avg. Price</th>
          <th>Total Cost</th>
          <th>Break Even Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of portfolio">
          <td class="text-center">{{s['code']}}</td>
          <td class="text-center">{{s['quantity']}}</td>
          <td class="text-right">{{s['avg_price']}}</td>
          <td class="text-right">{{s['total_cost']}}</td>
          <td class="text-right">{{s['break_even']}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
