/* You can add global styles to this file, and also import other style files */

body {
  font-size: 12px !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.large-text {
  font-size:1.9rem;
  font-weight: bold;
}

.card {
  min-width: 11.5rem !important;
  min-height: 9.3rem !important;
}
